version: '3.8'

services:
  # IF YOU DO NOT WANT TO SET UP STORAGE ACCOUNT, RE-ENABLE THE FOLLOWING AZURITE AND SEEDER SERVICES
  
  # azurite:
  #   image: mcr.microsoft.com/azure-storage/azurite
  #   container_name: azurite
  #   ports:
  #     - "10000:10000" # Blob port
  #   volumes:
  #     - ./azurite_data:/data

  # SEEDER (Runs once to upload images)
  # blob-seeder:
  #   image: mcr.microsoft.com/azure-cli
  #   container_name: blob-seeder
  #   depends_on:
  #     - azurite
  #   volumes:
  #     - ./images:/images 
  #   environment:
  #     AZURE_CONN_STR: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;"
  #   command: >
  #     bash -c "
  #     echo 'Waiting for Azurite to start...' &&
  #     sleep 5 &&
  #     echo 'Creating container...' &&
  #     az storage container create --name product-images --public-access blob --connection-string 'DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;' &&
  #     echo 'Uploading images...' &&
  #     az storage blob upload-batch --destination product-images --source ./images --connection-string 'DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;' &&
  #     echo 'Seeding complete!'"

  # ------------------------------------------------------------
  # ORDER SERVICE
  # ------------------------------------------------------------
  order-service:
    build: ./order-service-bb
    image: aliceyangac/order-service:latest
    pull_policy: always
    container_name: order-service
    ports:
      - "3005:3000"
    environment:
      ASB_CONNECTION_STRING: "Endpoint=sb://your-servicebus-connection-string"
      ASB_QUEUE_NAME: orders
      FASTIFY_ADDRESS: 0.0.0.0
      MONGO_URI: "mongodb+srv://your-documentdb-connection-string"
      ORDER_DB_NAME: orderdb

  # ------------------------------------------------------------
  # MAKELINE SERVICE
  # ------------------------------------------------------------
  makeline-service:
    build: ./makeline-service-bb
    image: aliceyangac/makeline-service:latest
    pull_policy: always
    container_name: makeline-service
    ports:
      - "3001:3001"
    environment:
      ORDER_QUEUE_NAME: orders
      SHIPPING_QUEUE_NAME: shipping
      ASB_CONNECTION_STRING: "Endpoint=sb://your-servicebus-connection-string"
      MONGO_URI: "mongodb+srv://your-documentdb-connection-string"
      ORDER_DB_NAME: orderdb
      ORDER_DB_COLLECTION_NAME: orders
  # ------------------------------------------------------------
  # SHIPPING SERVICE 
  # ------------------------------------------------------------
  shipping-service:
    build: ./shipping-service-bb
    image: aliceyangac/shipping-service:latest
    pull_policy: always
    container_name: shipping-service
    ports:
      - "3003:3003"
    environment:
      MONGO_URI: "mongodb+srv://your-documentdb-connection-string"
      SHIPPING_DB_NAME: orderdb
      ASB_CONNECTION_STRING: "Endpoint=sb://your-servicebus-connection-string"
      SHIPPING_QUEUE_NAME: shipping
      SHIPPING_DB_COLLECTION_NAME: orders
  # ------------------------------------------------------------
  # PRODUCT SERVICE
  # ------------------------------------------------------------
  product-service:
    build: ./product-service-bb
    image: aliceyangac/product-service:latest 
    pull_policy: always
    container_name: product-service
    ports:
      - "3002:3002"
    environment:
      PORT: 3002
      MONGO_URI: "mongodb+srv://your-documentdb-connection-string"
      BLOB_CONNECTION_STRING: "DefaultEndpointsProtocol=https;your-storage-account-connection-string"
      # If using Azurite for local development, uncomment the following line and comment out the above BLOB_CONNECTION_STRING
      # BLOB_CONNECTION_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;"
    # depends_on:
    #   azurite:
    #     condition: service_started

  # ------------------------------------------------------------
  # STORE FRONT (Vue.js App)
  # ------------------------------------------------------------
  store-front:
    build: ./store-front-bb
    image: aliceyangac/store-front:latest
    pull_policy: always
    container_name: store-front
    ports:
      - "8080:8080"
    environment:
      VUE_APP_ORDER_SERVICE_URL: http://localhost:3005/
      VUE_APP_PRODUCT_SERVICE_URL: http://localhost:3002/
    depends_on:
      - order-service
      - product-service
      # - azurite

  # ------------------------------------------------------------
  # STORE ADMIN (Vue.js App)
  # ------------------------------------------------------------
  store-admin:
    build: ./store-admin-bb
    pull_policy: always
    image: aliceyangac/store-admin:latest
    container_name: store-admin
    ports:
      - "8081:8081"
    environment:
      VUE_APP_PRODUCT_SERVICE_URL: http://localhost:3002/
      VUE_APP_MAKELINE_SERVICE_URL: http://localhost:3001/
    depends_on:
      - makeline-service
      - shipping-service
      - product-service
      # - azurite
